@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v8w8u2');
  src:  url('fonts/icomoon.eot?v8w8u2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v8w8u2') format('truetype'),
    url('fonts/icomoon.woff?v8w8u2') format('woff'),
    url('fonts/icomoon.svg?v8w8u2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-select-arrow-down:before {
  content: "\e909";
}
.icon-home-footer:before {
  content: "\e91a";
}
.icon-myInfo:before {
  content: "\e91b";
}
.icon-select-arrow-up:before {
  content: "\e91c";
}
.icon-match-footer:before {
  content: "\e920";
}
.icon-teachPlan-footer:before {
  content: "\e921";
}
.icon-course-footer:before {
  content: "\e922";
}
.icon-live-footer:before {
  content: "\e923";
}
.icon-love:before {
  content: "\e91d";
}
.icon-delete:before {
  content: "\e91f";
}
.icon-upPhoto:before {
  content: "\e924";
}
.icon-nopass:before {
  content: "\e925";
}
.icon-study-over:before {
  content: "\e905";
  color: #4fc177;
}
.icon-filter:before {
  content: "\e904";
  color: #aaa;
}
.icon-select-ok:before {
  content: "\e919";
  color: #4fc177;
}
.icon-close:before {
  content: "\e900";
}
.icon-course-details:before {
  content: "\e901";
  color: #aaa;
}
.icon-noUpDate:before {
  content: "\e902";
  color: #aaa;
}
.icon-nofinish:before {
  content: "\e903";
  color: #4fc177;
}
.icon-org-tag:before {
  content: "\e928";
}
.icon-checkbox:before {
  content: "\e926";
}
.icon-checkbox-checked:before {
  content: "\e927";
}
.icon-trySee:before {
  content: "\e906";
  color: #4fc177;
}
.icon-radio:before {
  content: "\e907";
  color: #aaa;
}
.icon-radio-checked:before {
  content: "\e908";
  color: #4fc177;
}
.icon-layout:before {
  content: "\e90a";
  color: #666;
}
.icon-share:before {
  content: "\e90b";
  color: #aaa;
}
.icon-teachPlan:before {
  content: "\e90c";
  color: #999;
}
.icon-course:before {
  content: "\e90d";
  color: #aaa;
}
.icon-QQ:before {
  content: "\e90e";
  color: #6f8fea;
}
.icon-qqZone:before {
  content: "\e90f";
  color: #fcc056;
}
.icon-weibo:before {
  content: "\e910";
  color: #dd6464;
}
.icon-play:before {
  content: "\e911";
  color: #4fc177;
}
.icon-cancelFullScreen:before {
  content: "\e912";
  color: #4fc177;
}
.icon-fullScreen:before {
  content: "\e913";
  color: #4fc177;
}
.icon-pause:before {
  content: "\e914";
  color: #4fc177;
}
.icon-goback:before {
  content: "\e915";
  color: #aaa;
}
.icon-toTop:before {
  content: "\e916";
  color: #aaa;
}
.icon-theMore:before {
  content: "\e917";
  color: #4fc177;
}
.icon-search:before {
  content: "\e918";
  color: #aaa;
}
.icon-alipay:before {
  content: "\e91e";
  color: #00a0e9;
}
